# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
.venv/
*.env

# Jupyter/Streamlit state
.ipynb_checkpoints/
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Model files
models/*.h5
models/*.pkl
models/*.pt
models/*.joblib

# Logs
*.log

# VSCode or PyCharm
.vscode/
.idea/

# Hidden system files
*.swp

